VERSION=2.0.0
RENEW=\
1.优化了项目注释文档以及README文档\n\
2.优化了项目结构并引入了CONTRIBUTING和CODE_OF_CONDUCT还有SECURITY\n\
3.更新了本项目所引用到的三个原创开源的项目依赖EasyDB和Encryption还有RENEW\n\
4.优化了AI-Agent的Information参数以及Daily模块的参数\n\
5.规范了懒加载即懒汉式开发模式\n\
7.微调了文生图的生成参数\n\
8.修正了动图播放速度动态修改存在的一些问题\n\
9.优化了使用者的使用指导和开发者的开发指导\n\
10.开始搭建异常错误处理的框架