#A Local Database Of LocalDB Basic On Properties
#Sat Mar 21 15:23:59 CST 2026
APIKeySiliconFlow=65$\!(4f9(t^\!Q854Q5h\!t95Q75hEO(R-7RhZ(NN7h^h-NP7O8)y
APIModelTextToImageSiliconFlow=Kwai-Kolors/Kolors
APIModelTextToTextSiliconFlow=Qwen/Qwen3-8B
APIUrlTextToImageSiliconFlow=https\://api.siliconflow.cn/v1/images/generations
APIUrlTextToTextSiliconFlow=https\://api.siliconflow.cn/v1/chat/completions
AutoWallpaper=false
ChatImageDownloadFileName=image.png
ChatImageDownloadFilePath=D\:\\Work\\produce\\work\\DailyPaper
ConfigFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper
ConnectTimeout=180
CurrentFilePath=D\:\\Work\\produce\\work\\DailyPaper
DailyAutoWallpaperWhenLaunch=false
DailyAutoWallpaperWhenTime=0
DailyImageHobby=古风唯美
DailyPaperAutoLaunch=false
DailyPaperFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper
DailyPaperRenewAutoOpen=false
DailyPaperRenewLocalFileName=DailyPaper.exe
DailyPaperRenewLocalFilePath=D\:\\Work\\produce\\work\\DailyPaper
DailyPaperRenewUri=https\://github.com/BProbie/DailyPaper/raw/refs/heads/master/DailyPaper.exe
DailyPaperRenewUriAndroid=https\://github.com/BProbie/DailyPaper/raw/refs/heads/master/DailyPaper.exe
DailyPaperRenewUriLinux=https\://github.com/BProbie/DailyPaper/raw/refs/heads/master/DailyPaper.exe
DailyPaperRenewUriMac=https\://github.com/BProbie/DailyPaper/raw/refs/heads/master/DailyPaper.exe
DailyPaperRenewUriWindows=https\://github.com/BProbie/DailyPaper/raw/refs/heads/master/DailyPaper.exe
JavaFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper\\jdk-21.0.8
KolorsAPIModelSiliconFlow=Kwai-Kolors/Kolors
LibFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper\\lib
LiveImageAutoLaunch=false
LiveImageChosenFileName=image.png
LiveImageChosenFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper\\LiveImage
LiveImageConfigFileName=liveImage.config
LiveImageFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper\\LiveImage
ParamConfigFileName=param.config
Qwen3_8BAPIModelSiliconFlow=Qwen/Qwen3-8B
ReadTimeout=180
RenewAutoCheckRenew=false
RenewAutoDownloadRenew=false
RenewConfigFileName=renew.config
RenewConfigRenewUri=https\://raw.githubusercontent.com/BProbie/DailyPaper/refs/heads/master/renew.config
RenewConfigRenewUriAndroid=https\://raw.githubusercontent.com/BProbie/DailyPaper/refs/heads/master/renew.config
RenewConfigRenewUriLinux=https\://raw.githubusercontent.com/BProbie/DailyPaper/refs/heads/master/renew.config
RenewConfigRenewUriMac=https\://raw.githubusercontent.com/BProbie/DailyPaper/refs/heads/master/renew.config
RenewConfigRenewUriWindows=https\://raw.githubusercontent.com/BProbie/DailyPaper/refs/heads/master/renew.config
RenewRenewLocalFileName=Renew.jar
RenewRenewLocalFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper\\lib
SettingConfigFileName=setting.config
SpawnImageCount=1
SpawnImageSize=1024x640
SplitMark=\ 
TempFilePath=D\:\\Work\\produce\\work\\DailyPaper\\DailyPaper
TempImageFileName=image.png
WriteTimeout=180
